.informationPlace{
    margin: 100px 0px 15px 0px;
}

.container-fluid {
    width: 100%;
    padding-right: 300px;
    padding-left: 300px;
    margin-right: auto;
    margin-left: auto;
}

.col-3.information-text h2, h4 {
    margin-bottom: 1.5rem;
}

.addButton{
    font-size: 80px;
    color: #868E9C;
}

.addButton:hover{
    color: #C03A2B;
}

.cartIcon{
    font-size: 30px;
}